<template>
      <table class="product-table">
      <thead>
        <tr>
          <td><span class="sr-only">Imágen de producto</span></td>
          <td>Producto</td>
          <td>Precio</td>
          <td>Cantidad</td>
          <td>Total</td>
          <td><span class="sr-only">Acciones</span></td>
        </tr>
      </thead>
      <tbody v-for="(quantity, key, i) in orderss" :key="i">
        <tr>
          <td><i class="icofont-carrot icofont-4x" /></td>
          <td>{{ key }}</td>
          <td>{{getPrice(key).toFixed(2)}}</td>
          <td>{{quantity}}</td>
          <td>${{ (quantity * getPrice(key)).toFixed(2) }}</td>
        </tr>

      </tbody>
    </table>
</template>

<script>
import food from '@/food.json'
export default {
  data () {
    return {
      inventory: food
    }
  },
  props: ['orderss'],
  computed: {
    cartTotal () {
      return (this.orderss.carrot * 4.82).toFixed(2)
    }
  },
  methods: {
    getPrice (name) {
      const prod = this.inventory.find((p) => p.name === name)
      return prod.price.USD
    },
    calculateTotal () {
      const cartEntries = Object.entries(this.cart)
      const total = cartEntries.reduce((tot, p) => {
        return tot + p[1] * this.getPrice(p[0])
      }, 0)

      return total
    }
  }
}
</script>

<style>

</style>
