<template>
  <header class="top-bar spread">
    <nav class="top-bar-nav">
      <router-link to="/" class="top-bar-link">
        <i class="icofont-spoon-and-fork"></i>
        <span>Home</span>
      </router-link>
      <router-link to="products" class="top-bar-link">
        <span>Productos</span>
      </router-link>
      <router-link to="PastOrders" class="top-bar-link" @click="getOrdersHistory()">
        <span>Historial de Pedidos</span>
      </router-link>
    </nav>
    <div @click="toggleSidebar" class="top-bar-cart-link">
      <i class="icofont-cart-alt icofont-1x"></i>
      <span>Minicart ({{Object.keys(cart).length}})</span>
    </div>
  </header>
  <router-view  :addToCart="addToCart" :OrdersHistory="OrdersHistory"  />
  <sidebar
    v-if='showSidebar'
    :toggle='toggleSidebar'
    :cart='cart'
    :inventory='inventory'
    :clearCart='clearCart'
  />
</template>
<script>
import Sidebar from './components/Sidebar.vue'
import food from './food.json'

export default {
  data () {
    return {
      showSidebar: false,
      inventory: food,
      cart: {},
      OrdersHistory: {}
    }
  },
  components: { Sidebar },
  methods: {
    toggleSidebar () {
      this.showSidebar = !this.showSidebar
    },
    addToCart (name, index, quantity) {
      console.log()
      this.cart[name] ??= 0
      this.inventory[index].quantity = quantity
      this.cart[name] += this.inventory[index].quantity
    },
    clearCart () {
      this.cart = {}
    },
    getOrdersHistory () {
      const OrderList = []
      for (let index = 0; index < localStorage.length; index++) {
        OrderList.push(JSON.parse(localStorage.getItem(index)))
      }
      this.OrdersHistory = OrderList
    }
  },
  created: function () {
    this.getOrdersHistory()
  }
}
</script>
<style>
body{
  margin: 0;
}
</style>
