:root {
    --bodyBackground: hsl(211, 86%, 92%);
    --bodyTextColor: hsl(211, 87%, 12%);
    --topNavBackground: hsl(211, 93%, 33%);
    --topNavColor: hsl(211, 100%, 96%);
    --topBarLinkHoverBackground: hsl(211, 100%, 36%);
    --splashTextColor: hsl(21, 100%, 70%);
    --cartBackground: hsl(211, 100%, 3%);
    --cartTitleBackground: hsl(211, 25%, 27%);
    --footerBackground: hsl(211, 37%, 26%);
    --spashBackground: hsl(211, 87%, 12%);
    --splashTextShadow: hsl(211, 100%, 7%);
    --cardTextColor: hsl(211, 51%, 10%);
    --cardBackground: hsl(211, 85%, 87%);
    /* --unusedCardColor: #F8ED94; */
    --cardBorder: hsl(211, 87%, 72%);
    --cardHeaderBackground: hsl(211, 100%, 42%);
}
