<template>
  <div class="home">
    <div class="splash-container">
      <div class="splash">
        <h1>Granjita VUE</h1>
      </div>
    </div>
    <main class="rwrappe">
      <h2>Recomendados</h2>

      <div class="recommended">
        <Card class="card" v-for="(prod, index) in inventory.slice(0, 4)" :key="prod.id" :index="index" :inventory="inventory" :prod="prod" :addToCart="addToCart"/>
      </div>
    </main>
  </div>
</template>

<script>
// @ is an alias to /src
import food from '@/food.json'
import Card from '@/components/Card.vue'

export default {
  name: 'Home',
  props: ['addToCart'],
  data () {
    return {
      inventory: food,
      cart: {}
    }
  },
  methods: {

  },
  components: {
    Card
  }
}
</script>
