<template>
<div>
    <div class="splash-container">
      <div class="splash">
        <h1>Granjita VUE</h1>
      </div>
    </div>
  <main class="wrapper">
    <h1>Historial de Pedidos</h1>
    <div  >
      <Orders v-for="(item,index) in OrdersHistory" :key="index" :orderss="item" :inventory="inventory" class="divOrders"/>
    </div>
  </main>
</div>
</template>

<script>
import Orders from '../components/Orders.vue'
export default {
  props: ['OrdersHistory', 'inventory'],
  data () {
    return {
    }
  },
  components: { Orders }

}
</script>

<style>
.divOrders{
  border-bottom: 1px solid hsl(211, 100%, 7%);
}
</style>
